In [20]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [21]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [22]:
# Import dependencies
import pandas as pd

# Create school series
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [23]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [24]:
for school_type in high_school_types:
    print(school_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [25]:
# Create school type data frame
school_type_df = pd.DataFrame(high_school_types)
school_type_df

  High School      Type
0     Griffin  District
1    Figueroa  District
2      Wilson   Charter
3      Wright   Charter

In [26]:
# Accessing 3 main components of a data frame (1. 'columns', 2. 'index' and, 3. 'values')
# Columns
school_type_df.columns

Index(['High School', 'Type'], dtype='object')

In [27]:
# Index
school_type_df.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
# Values
school_type_df.values

array([['Griffin', 'District'],
       ['Figueroa', 'District'],
       ['Wilson', 'Charter'],
       ['Wright', 'Charter']], dtype=object)

In [29]:
# Lists of info about hig schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ['Huang High School', 'Figueroa High school', 'Shelton High school', 'Hernandez High school',
               'Griffin High school', 'Wilson High school', 'Cabrera High school', 'Baileyn High school',
              'Holden High school', 'Pena High school', 'Wright High school', 'Rodriguez High school',
              'Johnson High school', 'Ford High school', 'Thomas High school']

school_type = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District',
              'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter']

In [30]:
# Create a new pandas data frame.
schools_df = pd.DataFrame()

In [31]:
# Add all lists to data Frame.
schools_df['School ID'] = school_id
schools_df['School Name'] = school_name
schools_df['School Type'] = school_type

# Print data frame.
schools_df

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High school    District
2           2    Shelton High school     Charter
3           3  Hernandez High school    District
4           4    Griffin High school     Charter
5           5     Wilson High school     Charter
6           6    Cabrera High school     Charter
7           7    Baileyn High school    District
8           8     Holden High school     Charter
9           9       Pena High school     Charter
10         10     Wright High school     Charter
11         11  Rodriguez High school    District
12         12    Johnson High school    District
13         13       Ford High school    District
14         14     Thomas High school     Charter